<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olivin.app.order.mapper.OrdersMapper">
    <sql id="orderIdPrefix">
    'POR'
    </sql>
	<!-- select -->
    <select id="selectAllList" resultType="OrdersVO" parameterType="OrdersVO">
        SELECT
            order_id,
            order_title,
            user_id,
            order_type,
            order_from_id,
            reason,
            order_date,
            order_status,
            approval_user,
            approval_date,
            total_amount,
            due_date,
            remark,
            order_to_id,
            order_from
        FROM
            purchase_orders
        <where>
            <if test="orderId != null and orderId != ''">
                AND order_id = #{orderId}
            </if>
            <if test="orderTitle != null and orderTitle != ''">
                AND order_title LIKE CONCAT('%', #{orderTitle}, '%')
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="orderType != null and orderType != ''">
                AND order_type = #{orderType}
            </if>
            <if test="orderFromId != null and orderFromId != ''">
                AND order_from_id = #{orderFromId}
            </if>            
            <if test="orderStatus != null and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="orderDate != null">
                AND order_date &gt;= #{orderDate}
            </if>
            <if test="dueDate != null">
                AND due_date &lt;= #{dueDate}
            </if>
        </where>
        ORDER BY order_date DESC
    </select>

    <select id="selectOneByOrderId" resultType="OrdersVO" parameterType="string">
        SELECT
            order_id,
            order_title,
            user_id,
            order_type,
            order_from_id,
            reason,
            order_date,
            order_status,
            approval_user,
            approval_date,
            total_amount,
            due_date,
            remark,
            order_to_id,
            order_from
        FROM
            purchase_orders
        WHERE
            order_id = #{orderId}
    </select>
    
    <select id="selectDetailsByOrderId" resultType="OrdersDetailVO" parameterType="string">
        SELECT
            po_id,
            order_id,
            product_id,
            product_name,
            quantity,
            unit,
            status,
            category,
            vendor_id,
            vendor_name,
            price
        FROM
            purchase_orders_d
        WHERE
            order_id = #{orderId}
    </select>
    <!-- 
    <select id="SelectDetailList" resultType="map" parameterType="string">
        SELECT
            o.order_id,
            o.order_title,
            od.product_name,
            od.quantity,
            od.price,
            od.unit,
            od.status
        FROM
            purchase_orders o
        JOIN
            purchase_orders_d od ON o.order_id = od.order_id
        WHERE
            o.order_id = #{orderId}
    </select> -->
    
    
	<!-- insert -->
    <insert id="insertOne" parameterType="OrdersVO">
        <selectKey keyProperty="orderId" resultType="string" order="BEFORE">
        SELECT
            <include refid="orderIdPrefix"/> || TO_CHAR(SYSDATE, 'YYYYMMDD') ||
            LPAD(NVL(MAX(TO_NUMBER(SUBSTR(order_id, LENGTH(<include refid="orderIdPrefix"/> || TO_CHAR(SYSDATE, 'YYYYMMDD')) + 1))), 0) + 1, 3, '0')
        FROM purchase_orders
        WHERE order_id LIKE <include refid="orderIdPrefix"/> || TO_CHAR(SYSDATE, 'YYYYMMDD') || '%'
        </selectKey>
        INSERT INTO purchase_orders (
            order_id,
            order_title,
            user_id,
            order_type,
            order_from_id,
            order_from,
            order_to_id,
            order_to,
            reason,
            order_date,
            order_status,
            approval_user,
            approval_date,
            total_amount,
            due_date,
            remark,
        ) VALUES (
            #{orderId},
            #{orderTitle},
            #{userId},
            #{orderType},
            #{orderFromId},
            #{orderFrom},
            #{orderToId},
            #{orderTo}
            #{reason},
            #{orderDate},
            #{orderStatus},
            #{approvalUser},
            #{approvalDate},
            #{totalAmount},
            #{dueDate},
            #{remark}
        )
    </insert>

    <insert id="insertDetailOne" parameterType="OrdersDetailVO">
        INSERT INTO purchase_orders_d (
            po_id,
            order_id,
            product_id,
            product_name,
            quantity,
            unit,
            status,
            category,
            vendor_id,
            vendor_name,
            price
        ) VALUES (
            #{poId},
            #{orderId},
            #{productId},
            #{productName},
            #{quantity},
            #{unit},
            #{status},
            #{category},
            #{vendorId},
            #{vendorName},
            #{price}
        )
    </insert>
	
	
	<!-- delete -->
    <delete id="deleteOrder" parameterType="string">
        DELETE FROM
            purchase_orders
        WHERE
            order_id = #{orderId}
    </delete>
    
    <delete id="deleteOrderDetails" parameterType="string">
        DELETE FROM
            purchase_orders_d
        WHERE
            order_id = #{orderId}
    </delete>
</mapper>