<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olivin.app.example.mapper.DeptMapper">

    <!-- Interface의 메서드를 통해 실행할 쿼리 정의 -->
    <select id="selectAllList" resultType="DeptVO">
        SELECT department_id,
                dept_name
        FROM departments
    </select>

    <!-- 등록 -->
    <insert id="insertDeptIfNotExists" parameterType="EmpVO">
        MERGE INTO departments d
        USING (SELECT #{departmentId} AS department_id, #{deptName} AS dept_name FROM dual) input
        ON (d.department_id = input.department_id)
        WHEN NOT MATCHED THEN
            INSERT (department_id, dept_name)
            VALUES (input.department_id, input.dept_name)
    </insert>

    <!-- 수정 -->
     <update id="updateDept" parameterType="DeptVO">
        UPDATE departments
        SET
            department_id = #{departmentId},
            dept_name = #{deptName}
        WHERE department_id = #{departmentId}
     </update>
    
     <!-- 삭제 -->
    <delete id="deleteDept" parameterType="String">
        DELETE FROM departments
        WHERE department_id = #{departmentId}
    </delete>
</mapper>