<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olivin.app.inbnd.mapper.InbndMapper">
    <!-- Interface의 메서드를 통해 실행할 쿼리 정의 -->
    <select id="selectAllList" resultType="InbndVO">
        SELECT inbnd_no
             , outbnd_no
             , outbnd_from
             , inbnd_to
             , inbnd_date
             , inbnd_status
        FROM   inbnd
    </select>
    <select id="selectProdLot" resultType="InbndProdDVO">
        SELECT d.inbnd_d_no
              ,d.inbnd_product_no
              ,d.lot_no
              ,d.remain_quantity
              ,d.unit as unit_code
              ,get_datacode_name(d.unit) as unit
              ,d.inbnd_status as inbnd_status_code
              ,get_datacode_name(d.inbnd_status) as inbnd_status
              ,p.product_id
              ,p.product_name
        FROM   inbnd_product_d d
        JOIN   inbnd_product p 
          ON   d.inbnd_product_no = p.inbnd_product_no
        WHERE  p.product_id = #{productId}
          AND  d.remain_quantity &gt; 0
          AND  d.inbnd_status = '000001'  -- 입고상태 '입고완료' 코드값
          AND  p.inbnd_status = '000001'  -- 입고제품 상태 '입고완료' 코드값
        ORDER BY d.lot_no ASC;
    </select>
    <select id="test" resultType="InbndProdDVO">
        SELECT d.inbnd_d_no
              ,d.inbnd_product_no
              ,d.lot_no
              ,d.remain_quantity
              ,d.inbnd_quantity
              ,d.unit
              ,d.inbnd_status
        FROM   inbnd_product_d d
        JOIN   inbnd_product p 
          ON   d.inbnd_product_no = p.inbnd_product_no
        WHERE  p.product_id = #{productId}
          AND  d.remain_quantity &gt; 0
          AND  d.inbnd_status = '000001'  -- 입고상태 '입고완료' 코드값
        ORDER BY d.lot_no ASC   
    </select>
    <select id="selectCodeForUpdate" resultType="String">
        SELECT
            'IN' || TO_CHAR(SYSDATE, 'YYYYMMDD') ||
            LPAD(NVL(MAX(TO_NUMBER(SUBSTR(inbnd_no, LENGTH('IN' || TO_CHAR(SYSDATE, 'YYYYMMDD')) + 1))), 0) + 1, 3, '0') as "res"
        FROM inbnd
        WHERE inbnd_no LIKE 'IN' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '%' 
    </select>
    <update id="callProcBrInbndProcess" parameterType="string" statementType="CALLABLE">
        {CALL proc_br_inbnd_process(#{orderId, mode=IN, jdbcType=VARCHAR})}
    </update>
    <update id="callProcHqInbndProcess" parameterType="string" statementType="CALLABLE">
        {CALL proc_hq_inbnd_process(#{orderId, mode=IN, jdbcType=VARCHAR})}
    </update>
</mapper>