<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
회사 검색 모달 Mapper 구현체

작성자 : 함동의
작성일 : 2025.07.30
수정이력 :
- 2025.07.30 : 최초 작성
- 2025.08.07 : 지점 검색 조건 변경
-->
<mapper namespace="com.olivin.app.common.mapper.BranchCompanySearchMapper">
    <!-- 지점 전체 조회 -->
    <select id="selectAllCompanies" resultType="BranchCompanySearchVO">
        SELECT comp_id
             , comp_name
             , phone
             , note
        FROM   companys
        WHERE  comp_type = '100002'  -- 지점
          AND  comp_type != 'FFFFFF'  -- 삭제된 지점 제외
        ORDER BY comp_id
    </select>

    <!-- 조건에 맞는 지점 조회 -->
    <select id="selectBranchCompanyList" parameterType="String" resultType="BranchCompanySearchVO">
        SELECT comp_id
             , comp_name
             , phone
             , note
        FROM   companys
        WHERE  comp_type = '100002'  -- 지점
          AND  comp_type != 'FFFFFF'  -- 삭제된 지점 제외
        <if test="searchValue != null and searchValue != ''">
          AND  comp_name LIKE '%' || #{searchValue} || '%'
        </if>
        ORDER BY comp_id
    </select>
</mapper>